@layer base, starlight, theme, components, utilities;
@import 'https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css';
@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
	/*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/


[data-theme="dark"] .base-transparent {
  background-image:
    linear-gradient(45deg, #333 25%, transparent 25%),
    linear-gradient(-45deg, #333 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #333 75%),
    linear-gradient(-45deg, transparent 75%, #333 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  background-color: #222;
}

.base-transparent {
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  background-color: #fff;
}

.base-transparent-line {
  background-image:
    linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: #0a0a0a;
}


.base-transparent-dot {
  background-image: radial-gradient(circle, #888 1px, transparent 1px);
  background-size: 16px 16px;
  background-color: #f0f0f0;
}
